            t = setTimeout(function () {
              if (!a) {
                a = true;
                var e = new Audio(
                  '{{route}}{{assets/misc/visualstudiocode.mp3}}'
                );
                e.play();
                e.addEventListener(
                  'ended',
                  function () {
                    a = false;
                  },
                  false
                );
              }
            }, 1000);
          },
          false
        );
        v.addEventListener(
          'mouseleave',
          function () {
            clearTimeout(t);
          },
          false
        );
      })();
    </script>
  </body>
</html>
