<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Holy Unblocker LTS | FAQ}}</title>
    {{ifSEO}}{{
    <meta
      name="説明"
      content="Holy Unblockerは、多くのサイトに対応した安全なウェブプロキシサービスです。フィルターを回避し、より安全なプライベートブラウジング体験を自由に楽しんだり、Chromebookなどのデバイスや学校、職場などの場所で、ダウンロードなしでウェブサイトのブロックを解除したりできます。"
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth">
      <!--HEADER-->
    </div>
    <div id="background" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="mainbody" class="box-hero">
      <div id="documentation" class="hero-grid-container">
        <div class="box-hero">
          <div class="box-noflex">
            <!--FAQ-->
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="fullwidth">
      <!--FOOTER-->
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    {{inline}}{{
    <script src="{{route}}{{assets/js/card.js}}{{inline}}"></script>
    }}
  </body>
</html>
